<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>전국 지역시장</title>
    <link rel="stylesheet" type="text/css" href="/css/introduce.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@900&display=swap" rel="stylesheet">
</head>

<body>
    <div class="wrap">
        <!-- header -->
        <header>
            <div class="innerHeader">
                <li id="mainPage"><a href="/index">지역시장지킴이</a></li>
                <nav class="gnb">
                    <ul>
                        <li><a href="/info">전국 지역시장</a></li>
                        <li><a href="/index">이달의 상품</a></li>
                        <li><a href="/map">지도 검색</a></li>
                        <li><a href="/monthly">월별 가격 현황</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        <!-- //header -->

        <!-- section.introduce -->
        <section class="introduce">
            <div class="market-list">
                <div class="market">
                    <div class="market-name">
                        <label class="en" id="marketName">서울 가락도매시장<span class="dot">.</span></label>
                    </div>
                    <div class="market-img" style="background: url(/img/garak.png) no-repeat center/cover;"></div>
                    <ul class="market-info-list">
                        <li class="info" id="address"><i class="fas fa-home fa-3x"></i>
                            <p class="item">서울 송파구 양재대로 932 가락동 농수산물도매시장</p>
                        </li>
                        <li class="info" id="transport"><i class="fas fa-subway fa-3x"></i>
                            <p class="item">지하철 8호선 이용, 가락 시장 앞 하차</p>
                        </li>
                        <li class="info" id="phone"><i class="fas fa-phone fa-3x"></i>
                            <p class="item">02-3435-1000</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="market-list">
                <div class="market">
                    <div class="market-name">
                        <label class="en" id="marketName">광주 각화농산물도매시장<span class="dot">.</span></label>
                    </div>
                    <div class="market-img" style="background: url(/img/gakwha.png) no-repeat center/cover;"></div>
                    <ul class="market-info-list">
                        <li class="info" id="address"><i class="fas fa-home fa-3x"></i>
                            <p class="item">광주 북구 동문대로 260 농산물도매시장관리사무소</p>
                        </li>
                        <li class="info" id="transport"><i class="fas fa-subway fa-3x"></i>
                            <p class="item">322 버스 이용, 농산물공판장 하차</p>
                        </li>
                        <li class="info" id="phone"><i class="fas fa-phone fa-3x"></i>
                            <p class="item">062-613-5522</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="market-list">
                <div class="market">
                    <div class="market-name">
                        <label class="en" id="marketName">서울 경동시장<span class="dot">.</span></label>
                    </div>
                    <div class="market-img" style="background: url(/img/gyeongdong.png) no-repeat center/cover;"></div>
                    <ul class="market-info-list">
                        <li class="info" id="address"><i class="fas fa-home fa-3x"></i>
                            <p class="item">서울 동대문구 고산자로36길 3</p>
                        </li>
                        <li class="info" id="transport"><i class="fas fa-subway fa-3x"></i>
                            <p class="item">지하철 1호선 이용, 제기동역 하차</p>
                        </li>
                        <li class="info" id="phone"><i class="fas fa-phone fa-3x"></i>
                            <p class="item">02-967-8721</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="market-list">
                <div class="market">
                    <div class="market-name">
                        <label class="en" id="marketName">부산 공동어시장<span class="dot">.</span></label>
                    </div>
                    <div class="market-img" style="background: url(/img/gongdong.png) no-repeat center/cover;"></div>
                    <ul class="market-info-list">
                        <li class="info" id="address"><i class="fas fa-home fa-3x"></i>
                            <p class="item">부산광역시 서구 충무대로 202(남부민동)</p>
                        </li>
                        <li class="info" id="transport"><i class="fas fa-subway fa-3x"></i>
                            <p class="item">자갈치역 2번 출구 904m</p>
                        </li>
                        <li class="info" id="phone"><i class="fas fa-phone fa-3x"></i>
                            <p class="item">051-254-8961</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="market-list">
                <div class="market">
                    <div class="market-name">
                        <label class="en" id="marketName">전주 남부시장<span class="dot">.</span></label>
                    </div>
                    <div class="market-img" style="background: url(/img/nambu.png) no-repeat center/cover;"></div>
                    <ul class="market-info-list">
                        <li class="info" id="address"><i class="fas fa-home fa-3x"></i>
                            <p class="item">전북 전주시 완산구 풍남문1길 19-3</p>
                        </li>
                        <li class="info" id="transport"><i class="fas fa-subway fa-3x"></i>
                            <p class="item">142 버스 이용, 남부시장 하차</p>
                        </li>
                        <li class="info" id="phone"><i class="fas fa-phone fa-3x"></i>
                            <p class="item">063-284-1344</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="market-list">
                <div class="market">
                    <div class="market-name">
                        <label class="en" id="marketName">부산 남포동건어물시장<span class="dot">.</span></label>
                    </div>
                    <div class="market-img" style="background: url(/img/nampo.png) no-repeat center/cover;"></div>
                    <ul class="market-info-list">
                        <li class="info" id="address"><i class="fas fa-home fa-3x"></i>
                            <p class="item">부산 중구 용미길8번길 4-1</p>
                        </li>
                        <li class="info" id="transport"><i class="fas fa-subway fa-3x"></i>
                            <p class="item">남포역 1번 출구</p>
                        </li>
                        <li class="info" id="phone"><i class="fas fa-phone fa-3x"></i>
                            <p class="item">051-254-3311</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="market-list">
                <div class="market">
                    <div class="market-name">
                        <label class="en" id="marketName">대구 동구시장<span class="dot">.</span></label>
                    </div>
                    <div class="market-img" style="background: url(/img/donggu.png) no-repeat center/cover;"></div>
                    <ul class="market-info-list">
                        <li class="info" id="address"><i class="fas fa-home fa-3x"></i>
                            <p class="item">대구 동구 효목로 8 동구시장</p>
                        </li>
                        <li class="info" id="transport"><i class="fas fa-subway fa-3x"></i>
                            <p class="item">동대구역 하차</p>
                        </li>
                        <li class="info" id="phone"><i class="fas fa-phone fa-3x"></i>
                            <p class="item">053-744-6569</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="market-list">
                <div class="market">
                    <div class="market-name">
                        <label class="en" id="marketName">제주 동문시장<span class="dot">.</span></label>
                    </div>
                    <div class="market-img" style="background: url(/img/dongmun.png) no-repeat center/cover;"></div>
                    <ul class="market-info-list">
                        <li class="info" id="address"><i class="fas fa-home fa-3x"></i>
                            <p class="item">제주 제주시 관덕로14길 20</p>
                        </li>
                        <li class="info" id="transport"><i class="fas fa-subway fa-3x"></i>
                            <p class="item">412 버스 이용, 중앙로(국민은행) 하차</p>
                        </li>
                        <li class="info" id="phone"><i class="fas fa-phone fa-3x"></i>
                            <p class="item">064-752-3001</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="market-list">
                <div class="market">
                    <div class="market-name">
                        <label class="en" id="marketName">서울 복조리시장<span class="dot">.</span></label>
                    </div>
                    <div class="market-img" style="background: url(/img/bokjori.png) no-repeat center/cover;"></div>
                    <ul class="market-info-list">
                        <li class="info" id="address"><i class="fas fa-home fa-3x"></i>
                            <p class="item">강동구 천호대로187길 62</p>
                        </li>
                        <li class="info" id="transport"><i class="fas fa-subway fa-3x"></i>
                            <p class="item">지하철 5호선 이용, 길동역 하차</p>
                        </li>
                        <li class="info" id="phone"><i class="fas fa-phone fa-3x"></i>
                            <p class="item">070-4896-2544</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="market-list">
                <div class="market">
                    <div class="market-name">
                        <label class="en" id="marketName">부산 부전시장<span class="dot">.</span></label>
                    </div>
                    <div class="market-img" style="background: url(/img/bujeon.png) no-repeat center/cover;"></div>
                    <ul class="market-info-list">
                        <li class="info" id="address"><i class="fas fa-home fa-3x"></i>
                            <p class="item">부산 동구 진시장로 24</p>
                        </li>
                        <li class="info" id="transport"><i class="fas fa-subway fa-3x"></i>
                            <p class="item">부전역 하차</p>
                        </li>
                        <li class="info" id="phone"><i class="fas fa-phone fa-3x"></i>
                            <p class="item">051-646-7041</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="market-list">
                <div class="market">
                    <div class="market-name">
                        <label class="en" id="marketName">대구 북부도매시장<span class="dot">.</span></label>
                    </div>
                    <div class="market-img" style="background: url(/img/bukbu.png) no-repeat center/cover;"></div>
                    <ul class="market-info-list">
                        <li class="info" id="address"><i class="fas fa-home fa-3x"></i>
                            <p class="item">대구광역시 북구 매천로18길 34(매천동)</p>
                        </li>
                        <li class="info" id="transport"><i class="fas fa-subway fa-3x"></i>
                            <p class="item">708 버스 이용, 농수산물도매시장건너 하차</p>
                        </li>
                        <li class="info" id="phone"><i class="fas fa-phone fa-3x"></i>
                            <p class="item">053-803-7000</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="market-list">
                <div class="market">
                    <div class="market-name">
                        <label class="en" id="marketName">창원 상남시장<span class="dot">.</span></label>
                    </div>
                    <div class="market-img" style="background: url(/img/sangnam.png) no-repeat center/cover;"></div>
                    <ul class="market-info-list">
                        <li class="info" id="address"><i class="fas fa-home fa-3x"></i>
                            <p class="item">경남 창원시 성산구 마디미로 28</p>
                        </li>
                        <li class="info" id="transport"><i class="fas fa-subway fa-3x"></i>
                            <p class="item">800 버스 이용, 은아아파트 하차</p>
                        </li>
                        <li class="info" id="phone"><i class="fas fa-phone fa-3x"></i>
                            <p class="item">055-262-1494</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="market-list">
                <div class="market">
                    <div class="market-name">
                        <label class="en" id="marketName">대구 서문시장<span class="dot">.</span></label>
                    </div>
                    <div class="market-img" style="background: url(/img/seomun.png) no-repeat center/cover;"></div>
                    <ul class="market-info-list">
                        <li class="info" id="address"><i class="fas fa-home fa-3x"></i>
                            <p class="item">대구 중구 큰장로26길 45 서문시장</p>
                        </li>
                        <li class="info" id="transport"><i class="fas fa-subway fa-3x"></i>
                            <p class="item">서문시장역3번 출구에서183m</p>
                        </li>
                        <li class="info" id="phone"><i class="fas fa-phone fa-3x"></i>
                            <p class="item">053-256-6341</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="market-list">
                <div class="market">
                    <div class="market-name">
                        <label class="en" id="marketName">울산 신정시장<span class="dot">.</span></label>
                    </div>
                    <div class="market-img" style="background: url(/img/sinjeong.png) no-repeat center/cover;"></div>
                    <ul class="market-info-list">
                        <li class="info" id="address"><i class="fas fa-home fa-3x"></i>
                            <p class="item">울산 남구 봉월로102번길 40-5</p>
                        </li>
                        <li class="info" id="transport"><i class="fas fa-subway fa-3x"></i>
                            <p class="item">807버스 이용, 신정시장앞 하차</p>
                        </li>
                        <li class="info" id="phone"><i class="fas fa-phone fa-3x"></i>
                            <p class="item">052-272-2085</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="market-list">
                <div class="market">
                    <div class="market-name">
                        <label class="en" id="marketName">서울 양곡도매시장<span class="dot">.</span></label>
                    </div>
                    <div class="market-img" style="background: url(/img/yanggok.png) no-repeat center/cover;"></div>
                    <ul class="market-info-list">
                        <li class="info" id="address"><i class="fas fa-home fa-3x"></i>
                            <p class="item">서울 서초구 양재대로12길 36 양곡도매시장</p>
                        </li>
                        <li class="info" id="transport"><i class="fas fa-subway fa-3x"></i>
                            <p class="item">청계산입구역 하차</p>
                        </li>
                        <li class="info" id="phone"><i class="fas fa-phone fa-3x"></i>
                            <p class="item">02-3435-0598</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="market-list">
                <div class="market">
                    <div class="market-name">
                        <label class="en" id="marketName">광주 양동시장<span class="dot">.</span></label>
                    </div>
                    <div class="market-img" style="background: url(/img/yangdong.png) no-repeat center/cover;"></div>
                    <ul class="market-info-list">
                        <li class="info" id="address"><i class="fas fa-home fa-3x"></i>
                            <p class="item">광주 서구 천변좌로 238</p>
                        </li>
                        <li class="info" id="transport"><i class="fas fa-subway fa-3x"></i>
                            <p class="item">양동시장역2번 출구에서28m</p>
                        </li>
                        <li class="info" id="phone"><i class="fas fa-phone fa-3x"></i>
                            <p class="item">062-366-0884</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="market-list">
                <div class="market">
                    <div class="market-name">
                        <label class="en" id="marketName">부산 엄궁도매시장<span class="dot">.</span></label>
                    </div>
                    <div class="market-img" style="background: url(/img/umgung.png) no-repeat center/cover;"></div>
                    <ul class="market-info-list">
                        <li class="info" id="address"><i class="fas fa-home fa-3x"></i>
                            <p class="item">사상구 농산물시장로9번길 11 농산물도매시장</p>
                        </li>
                        <li class="info" id="transport"><i class="fas fa-subway fa-3x"></i>
                            <p class="item">하단역 하차</p>
                        </li>
                        <li class="info" id="phone"><i class="fas fa-phone fa-3x"></i>
                            <p class="item">051-310-8282</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="market-list">
                <div class="market">
                    <div class="market-name">
                        <label class="en" id="marketName">대전 역전시장<span class="dot">.</span></label>
                    </div>
                    <div class="market-img" style="background: url(/img/yeokjeon.png) no-repeat center/cover;"></div>
                    <ul class="market-info-list">
                        <li class="info" id="address"><i class="fas fa-home fa-3x"></i>
                            <p class="item">대전 동구 역전시장길 34</p>
                        </li>
                        <li class="info" id="transport"><i class="fas fa-subway fa-3x"></i>
                            <p class="item">대전역1번 출구에서125m</p>
                        </li>
                        <li class="info" id="phone"><i class="fas fa-phone fa-3x"></i>
                            <p class="item">042-273-9275</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="market-list">
                <div class="market">
                    <div class="market-name">
                        <label class="en" id="marketName">서울 영등포시장<span class="dot">.</span></label>
                    </div>
                    <div class="market-img" style="background: url(/img/yeongdungpo.png) no-repeat center/cover;"></div>
                    <ul class="market-info-list">
                        <li class="info" id="address"><i class="fas fa-home fa-3x"></i>
                            <p class="item">서울 영등포구 영등포로 225</p>
                        </li>
                        <li class="info" id="transport"><i class="fas fa-subway fa-3x"></i>
                            <p class="item">지하철 5호선 영등포시장역3번 출구에서384m</p>
                        </li>
                        <li class="info" id="phone"><i class="fas fa-phone fa-3x"></i>
                            <p class="item">02-2635-8005</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="market-list">
                <div class="market">
                    <div class="market-name">
                        <label class="en" id="marketName">대전 오정도매시장<span class="dot">.</span></label>
                    </div>
                    <div class="market-img" style="background: url(/img/ojeong.png) no-repeat center/cover;"></div>
                    <ul class="market-info-list">
                        <li class="info" id="address"><i class="fas fa-home fa-3x"></i>
                            <p class="item">(34377) 대전광역시 대덕구 한밭대로 987</p>
                        </li>
                        <li class="info" id="transport"><i class="fas fa-subway fa-3x"></i>
                            <p class="item">614버스 이용, 오정농수산물시장 하차</p>
                        </li>
                        <li class="info" id="phone"><i class="fas fa-phone fa-3x"></i>
                            <p class="item">042-622-3387</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="market-list">
                <div class="market">
                    <div class="market-name">
                        <label class="en" id="marketName">청주 육거리시장<span class="dot">.</span></label>
                    </div>
                    <div class="market-img" style="background: url(/img/yukgeori.png) no-repeat center/cover;"></div>
                    <ul class="market-info-list">
                        <li class="info" id="address"><i class="fas fa-home fa-3x"></i>
                            <p class="item">충북 청주시 상당구 석교동 131</p>
                        </li>
                        <li class="info" id="transport"><i class="fas fa-subway fa-3x"></i>
                            <p class="item">611버스 이용, 육거리시장 하차</p>
                        </li>
                        <li class="info" id="phone"><i class="fas fa-phone fa-3x"></i>
                            <p class="item">043-222-6696</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="market-list">
                <div class="market">
                    <div class="market-name">
                        <label class="en" id="marketName">대전 인동시장<span class="dot">.</span></label>
                    </div>
                    <div class="market-img" style="background: url(/img/indong.png) no-repeat center/cover;"></div>
                    <ul class="market-info-list">
                        <li class="info" id="address"><i class="fas fa-home fa-3x"></i>
                            <p class="item">대전 동구 대전로 701-9 동대전상가</p>
                        </li>
                        <li class="info" id="transport"><i class="fas fa-subway fa-3x"></i>
                            <p class="item">대동역 하차</p>
                        </li>
                        <li class="info" id="phone"><i class="fas fa-phone fa-3x"></i>
                            <p class="item">042-283-2029</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="market-list">
                <div class="market">
                    <div class="market-name">
                        <label class="en" id="marketName">포항 죽도시장<span class="dot">.</span></label>
                    </div>
                    <div class="market-img" style="background: url(/img/jukdo.png) no-repeat center/cover;"></div>
                    <ul class="market-info-list">
                        <li class="info" id="address"><i class="fas fa-home fa-3x"></i>
                            <p class="item">경북 포항시 북구 죽도시장13길 13 포항수산종합어시장</p>
                        </li>
                        <li class="info" id="transport"><i class="fas fa-subway fa-3x"></i>
                            <p class="item">305버스 이용, 죽도시장 하차</p>
                        </li>
                        <li class="info" id="phone"><i class="fas fa-phone fa-3x"></i>
                            <p class="item">054-247-3776</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="market-list">
                <div class="market">
                    <div class="market-name">
                        <label class="en" id="marketName">서울 중부시장<span class="dot">.</span></label>
                    </div>
                    <div class="market-img" style="background: url(/img/seoul_jungbu.png) no-repeat center/cover;">
                    </div>
                    <ul class="market-info-list">
                        <li class="info" id="address"><i class="fas fa-home fa-3x"></i>
                            <p class="item">서울 중구 을지로36길 35</p>
                        </li>
                        <li class="info" id="transport"><i class="fas fa-subway fa-3x"></i>
                            <p class="item">을지로4가역7번 출구에서66m</p>
                        </li>
                        <li class="info" id="phone"><i class="fas fa-phone fa-3x"></i>
                            <p class="item">02-2267-5617</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="market-list">
                <div class="market">
                    <div class="market-name">
                        <label class="en" id="marketName">대전 중부시장<span class="dot">.</span></label>
                    </div>
                    <div class="market-img" style="background: url(/img/daejeon_jungbu.png) no-repeat center/cover;">
                    </div>
                    <ul class="market-info-list">
                        <li class="info" id="address"><i class="fas fa-home fa-3x"></i>
                            <p class="item">대전 동구 대전로813번길 54 중동 30-3</p>
                        </li>
                        <li class="info" id="transport"><i class="fas fa-subway fa-3x"></i>
                            <p class="item">대전역1번 출구에서436m</p>
                        </li>
                        <li class="info" id="phone"><i class="fas fa-phone fa-3x"></i>
                            <p class="item">042-257-7015</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="market-list">
                <div class="market">
                    <div class="market-name">
                        <label class="en" id="marketName">강릉 중앙시장<span class="dot">.</span></label>
                    </div>
                    <div class="market-img" style="background: url(/img/gangwon_jungang.png) no-repeat center/cover;">
                    </div>
                    <ul class="market-info-list">
                        <li class="info" id="address"><i class="fas fa-home fa-3x"></i>
                            <p class="item">강원 강릉시 금성로 21</p>
                        </li>
                        <li class="info" id="transport"><i class="fas fa-subway fa-3x"></i>
                            <p class="item">207버스 이용, 교보생명 하차</p>
                        </li>
                        <li class="info" id="phone"><i class="fas fa-phone fa-3x"></i>
                            <p class="item">033-648-4477</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="market-list">
                <div class="market">
                    <div class="market-name">
                        <label class="en" id="marketName">대전 중앙시장<span class="dot">.</span></label>
                    </div>
                    <div class="market-img" style="background: url(/img/daejeon_jungang.png) no-repeat center/cover;">
                    </div>
                    <ul class="market-info-list">
                        <li class="info" id="address"><i class="fas fa-home fa-3x"></i>
                            <p class="item">대전 동구 대전로 783</p>
                        </li>
                        <li class="info" id="transport"><i class="fas fa-subway fa-3x"></i>
                            <p class="item">대전역역1번 출구에서200m</p>
                        </li>
                        <li class="info" id="phone"><i class="fas fa-phone fa-3x"></i>
                            <p class="item">042-226-0319</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="market-list">
                <div class="market">
                    <div class="market-name">
                        <label class="en" id="marketName">수원 지동시장<span class="dot">.</span></label>
                    </div>
                    <div class="market-img" style="background: url(/img/jidong.png) no-repeat center/cover;">
                    </div>
                    <ul class="market-info-list">
                        <li class="info" id="address"><i class="fas fa-home fa-3x"></i>
                            <p class="item">경기 수원시 팔달구 팔달문로 19</p>
                        </li>
                        <li class="info" id="transport"><i class="fas fa-subway fa-3x"></i>
                            <p class="item">지하철 1호선 이용, 수원역 하차</p>
                        </li>
                        <li class="info" id="phone"><i class="fas fa-phone fa-3x"></i>
                            <p class="item">031-256-0202</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="market-list">
                <div class="market">
                    <div class="market-name">
                        <label class="en" id="marketName">대구 칠성시장<span class="dot">.</span></label>
                    </div>
                    <div class="market-img" style="background: url(/img/chilsung.png) no-repeat center/cover;">
                    </div>
                    <ul class="market-info-list">
                        <li class="info" id="address"><i class="fas fa-home fa-3x"></i>
                            <p class="item">대구 북구 칠성동1가 276-1</p>
                        </li>
                        <li class="info" id="transport"><i class="fas fa-subway fa-3x"></i>
                            <p class="item">칠성시장역4번 출구에서17m</p>
                        </li>
                        <li class="info" id="phone"><i class="fas fa-phone fa-3x"></i>
                            <p class="item">053-423-3480</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="market-list">
                <div class="market">
                    <div class="market-name">
                        <label class="en" id="marketName">인천 현대시장<span class="dot">.</span></label>
                    </div>
                    <div class="market-img" style="background: url(/img/hyundai.png) no-repeat center/cover;">
                    </div>
                    <ul class="market-info-list">
                        <li class="info" id="address"><i class="fas fa-home fa-3x"></i>
                            <p class="item">인천 동구 송림로109번길 21</p>
                        </li>
                        <li class="info" id="transport"><i class="fas fa-subway fa-3x"></i>
                            <p class="item">도원역3번 출구에서961m</p>
                        </li>
                        <li class="info" id="phone"><i class="fas fa-phone fa-3x"></i>
                            <p class="item">032-777-2361</p>
                        </li>
                    </ul>
                </div>
            </div>
        </section>

        <!-- footer -->
        <footer>
            <div class="inner">
                <ul class="list">
                    <li><a href="https://www.garak.co.kr/" target="_blank">가락시장</a></li>
                    <li><a href="http://www.kyungdongmart.com/index/index.htm" target="_blank">경동시장</a></li>
                    <li><a href="http://jbsj.kr/?m_code=jjnm" target="_blank">남부시장</a></li>
                    <li><a href="https://bjmarket.business.site/" target="_blank">부전시장</a></li>
                    <li><a href="http://www.daekkiri.com/main.html" target="_blank">상남시장</a></li>
                    <li><a href="http://www.nightseomun.com/html/index.php" target="_blank">서문시장</a></li>
                    <li><a href="https://www.facebook.com/sinjungmarket1234/" target="_blank">신정시장</a></li>
                    <li><a href="https://yangdongmarket.modoo.at/" target="_blank">양동시장</a></li>
                    <li><a href="https://www.busan.go.kr/egmarket/index" target="_blank">엄궁도매시장</a></li>
                    <li><a href="http://www.ydpmarket.com/" target="_blank">영등포시장</a></li>
                    <li><a href="https://www.daejeon.go.kr/ohj/index.do" target="_blank">오정도매시장</a></li>
                    <li><a href="http://jukdosijang.kr/" target="_blank">죽도시장</a></li>
                    <li><a href="http://jungbusijang.co.kr/" target="_blank">중부시장</a></li>
                    <li><a href="http://www.xn--vk1bu41auzbi7crn75c.kr/" target="_blank">중앙시장</a></li>
                </ul>
            </div>
        </footer>
        <!-- //footer -->
    </div>
</body>

</html>