@charset "utf-8";
/* UTF-8 */

/* Google Font Import */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo:wght@300&display=swap');
@import url(http://fonts.googleapis.com/earlyaccess/jejuhallasan.css);



/* Reset */
* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
  }

body {
    margin: 0;
    background-color: #ffffff;
}

h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    font-size: inherit;
}

a {
    color: inherit;
    text-decoration: inherit;
}

img {
    vertical-align: middle;
}

a img {
    border: none;
}

li {
    list-style: none;
}

address, em, i {
    font-style: normal;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Layout */

.en {
    font-family: 'Exo 2', sans-serif;
}

.mo {
    display: none;
}

body {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
}

.wrap {
    margin: 0 auto;
}

/* header */

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.5);
    line-height: 100px;
    z-index: 200;
}

.innerHeader {
    width: 90%;
    margin: 0 auto;
    position: relative;
    text-decoration: none;
}

.innerHeader #mainPage > a {
    font-family: 'Jeju Hallasan', serif;
    font-size: 30px;
    color: #fff;
    width: 20%;
    float: left;
    text-decoration: none;
}

.innerHeader #mainPage > a:hover, .innerHeader #mainPage > a:active {
    color: #fff;
    text-decoration: none;
}

.innerHeader .gnb {
    width: 50%;
    float: right;
    margin-left: 80px;
}

.innerHeader .gnb ul {
    width: 100%;
}

.innerHeader .gnb li {
    float: right;
    margin-right: 30px;
    text-decoration: none;
}

.innerHeader .gnb li a {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
    text-decoration: none;
    font-size: 25px;
    font-family: 'Noto Sans KR', serif;
}

.innerHeader .gnb li a:hover, .innerHeader .gnb li a:focus {
    color: rgb(4, 130, 198);
    text-decoration: none;
}

/* section.detail */

section.detail {
    padding: 70px 0;
    height: 125vh;
}

/* infoList */

section.detail .view {
    width: 80%;
    height: 100%;
    margin: 50px auto;
    display: block;
    overflow: hidden;
    text-align: center;
    position: relative;
}

section.detail .info-view {
    line-height: 50px;
    text-align: center;
    margin-top: -8%;
    margin-left: -5%;
}

section.detail .view .info-view .market-info {
    color: #3a3c4e;
    width: 85%;
    height: 100px;
    border: 1px solid #5a6674;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    transform: translatex(-50%, -50%);
    float: left;
    margin-top: 1%;
    margin-left: 10%;
    margin-bottom: 15px;
    font-size: 40px;
    line-height: 2.5;
}

section.detail .view .info-view .item-list {
    width: 50%;
    height: auto;
    margin-left: 9%;
}

section.detail .view .info-view .item-list .info-item {
    background: #3a3c4e;
    color: #fff;
    width: 40%;
    height: 100px;
    border: 1px solid #5a6674;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    transform: translatex(-50%, -50%);
    float: left;
    margin-top: 2%;
    margin-left: 20px;
    font-size: 20px;
}

section.detail .view .info-view .item-list .info-item .item {
    background :#fff;
    color: #3a3c4e;
    width: 99.5%;
    height: 46%;
    margin: 0 auto;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

/* map */

section.detail .view .info-view .map-view {
    width: 40%;
    height: 80%;
    margin-left: 55%;
    margin-top: 10%;
    padding-top: 9.6%;
}

section.detail .view .info-view .map-view .kakako-map {
    width: 100%;
    height: 445px;
    border: 1px solid #5a6674;
    border-radius: 20px;
}

/* graph */

section.detail .view .info-view .graph-sector {
    width: 89.7%;
    height: 30%;
    margin-top: 3%;
    margin-left: 10.5%;
    border: 1px solid #5a6674;
    border-radius: 20px;
    position: absolute;
}

section.detail .view .info-view .graph-sector .graph {
    width: 100%;
    height: 20px;
    position: relative;
}

/* footer */

footer {
    clear: both;
    padding: 30px 20px 50px;
    background: #fff;
}

footer .inner {
    margin: 0 auto;
    overflow: hidden;
    width: 85%;
    border-top: 1px solid #ddd;
}

footer .inner .list {
    font-family: 'Exo 2', sans-serif;
    margin-top: 10px;
}

footer .inner .list li {
    float: left;
    margin: 10px 20px;
    text-align: center;
    font-size: 15px;
}

footer .inner .list li a {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
}

footer .inner .list li a:hover, footer .inner .list li a:focus {
    color: rgb(4, 130, 198);
}